/*commons*/
.piccolo{
    font-size: x-small;
}
/*commons*/

/*sezione logo*/
header{
    background-color: rgb(15, 144, 213);
    font-size: 30px;
}
#logo{
    height: 40px;
}
span{
    color: rgb(60, 197, 213);
}
/*fine sezione logo*/

/*evidenzio parte di testo*/
.giallo{
    color: black;
    background-color: rgb(222, 219, 62);
}
/*fine*/
