/*commons*/
.piccolo{
    font-size: x-small;
}

.giallo{
    color: black;
    background-color: rgb(222, 219, 62);
}

/*commons*/

/*sezione logo*/
header{
    background-color: rgb(37, 135, 240);
    font-size: 30px;
}
#logo{
    height: 40px;
}
span{
    color: rgb(60, 197, 213);
}

/*tabella*/
#thead{
   color: aliceblue;
    background-color: rgb(37, 135, 240);
}
.colore-riga{
    background-color: rgb(106, 173, 182);
}

