/*commons*/
.piccolo{
    font-size: x-small;
}
.bianco{
    color: aliceblue;
}

header{
    background-color: rgb(37, 135, 240);
    font-size: 30px;
    background-image: url(bonus/pattern.png);
    background-size: contain;
    
}


#logo{
    height: 40px;
}

span{
    color: aqua;
}
.sottolineo-giallo{
    color: black;
    background-color: rgb(241, 239, 111);
}
.back-blu{
    color: aliceblue;
    background-color: rgb(27, 126, 202);
}
.sottolineo-blu{
    background-color: aquamarine;
}
.grigio{
    color: rgb(150, 150, 150);
}
 /*footer*/
 #monitor{
     background-image: url(BONUS/monitor.jpg);
 }
 #graph{
     background-image: url(BONUS/graph.jpg);
 
 }

 .footer-img{
     color: aliceblue;
     text-align: center;
    background-size: contain;
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
 }
